<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de Familiares</title>
</head>
<body>
    Datos de Familia:
    <br>
    <br>
    Hijo mayor:
    <br>
    Nombre: {{nombreMayor}}
    <br>
    Edad: {{edadMayor}}
    <br>
    Fecha de Nacimiento: {{fechaNacMayor}}
    <br>
    <br>
    Hijo del medio:
    <br>
    Nombre: {{nombreMedio}}
    <br>
    Edad:  {{edadMedio}}
    <br>
    Fecha de Nacimiento:  {{fechaNacMedio}}
    <br>
    <br>
    Hijo menor:
    <br>
    Nombre: {{nombreMenor}}
    <br>
    Edad:  {{edadMenor}}
    <br> 
    Fecha de Nacimiento:  {{fechaNacMenor}}


</body>
</html>